nav.navbar.navbar-default
	.container-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#top-nav-collapse', aria-expanded='false')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
		#top-nav-collapse.collapse.navbar-collapse
			ul.nav.navbar-nav
				li(ui-sref-active="active", ng-if='!authService.isAuthenticated()')
					a(ui-sref='signup') Sing up
				li(ui-sref-active="active", ng-if='!authService.isAuthenticated()')
					a(ui-sref='signin') Login
				li(ng-if='authService.isAuthenticated()')
					a(href='#', ng-click='logoutClick()') {{ authService.loggetUser }} (Log out)
			ul.nav.navbar-nav.navbar-right(ng-if='authService.isAuthenticated()')
				li
					a(href='#', ng-click='showCart()') Cart &nbsp;
						span(ng-show='cart.store.length > 0') {{ cart.store.length }} &nbsp;
						ng-pluralize(count='cart.store.length', when="{'NaN': 'empty', 0: 'empty', 1: 'item', 'other':'items'}")
