doctype html
html(lang="en")
	head
		title simple shop test task
		script(src='/assets/app.bundle.js')
	body
		//-- include _navbar
		nav-bar
		.container.text-center(ng-show='$root.error.length > 0')
			.alert.alert-danger
				p {{ $root.error }}
		ui-view
			
		footer
			.container
				p.text-center
					| powered by &nbsp;
					a(href='https://iwong.me') Ivan Wong
					
