cl_dark = #333
cl_grey = #f5f5f5
cl_starme_filled = #38E32B
h1.title
	background #ccc



footer
	margin-top: 50px
	padding: 20px
	background cl_dark
	color cl_grey

.form-wrapper
	width: 400px


.c-product
	border 1px solid cl_dark
	padding 10px
	margin-bottom 20px
	margin-top 10px
	img
		width 200px
		height 200px


ul.c-starme
	color cl_dark
	text-align center

	li
		color cl_dark
		&:before
			content '\f005'
			font-family 'FontAwesome'
			display inline-block
			width 1.5em
			margin-left -1.2em
	li.stared
		color cl_starme_filled


form.filter-form
	.form-group
		margin 10px

.filter-row
	margin-bottom 10px
	margin-top 10px
