.container
	form.form-inline.filter-form
		.row.filter-row
			.form-group
				label(for='from') From: &nbsp;
				input.form-control(type='text', name='from', ng-model='ShopCtrl.filterObject.issue_start', mask='12/39/2015')
			.form-group
				label(for='to') To: &nbsp;
				input.form-control(type='text', name='to', ng-model='ShopCtrl.filterObject.issue_end', mask='12/39/2015')
			.checkbox
				label
					input(type='checkbox', name='in_stock' ng-model='ShopCtrl.filterObject.inStock')
					| &nbsp; In stock
		.row.filter-row
			.form-group
				label(for='price_from') Price from: &nbsp;
				input.form-control(type='text', name='price_from', ng-model='ShopCtrl.filterObject.price_from')
			.form-group
				label(for='price_to') price to: &nbsp;
				input.form-control(type='text', name='price_to', ng-model='ShopCtrl.filterObject.price_to')
			.form-group
				label(for='color') Color: &nbsp;
				select.form-control(name='color' ng-options='c as c for c in ShopCtrl.availableColors', ng-model='ShopCtrl.filterObject.color')
			
.container
	.row
		.col-md-12.c-product(ng-repeat='p in ShopCtrl.products | productFilter:ShopCtrl.filterObject')
			.row
				.col-md-3
					img(ng-src='{{ p.image }}', alt='{{ p.name }}')
				.col-md-3
					strong
						| Name: {{ p.name }}
					br
					strong
						| Color: {{ p.color }}
				.col-md-3
					strong
						| Issue date: {{ p.issue | date:"MM-dd-yyyy" }}
					br
					| in stock: &nbsp;
					i.fa.fa-check(ng-if='p.inStock')
					i.fa.fa-ban(ng-if='!p.inStock')
				.col-md-3
					strong
						| Price: {{ p.price | currency }}
					div
						button.btn.btn-success(ng-click='ShopCtrl.order(p)') Order
					
					div
						starme(rate='{{p.rating}}', pid='{{p.id}}')
					
					

#dlg-cart.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true')
						i.fa.fa-close
				h4.modal-title Cart
			.modal-body
				//-- ng-repeat from parent scope
				ul(ng-repeat='i in cart.store')
					li {{ i.name }} &nbsp; {{ i.price | currency }}
			.modal-footer
				.pull-left
					| TOTAL: 
					strong $ &nbsp; {{ cart.totalSum() }}
				button.btn.btn-default(type='button', data-dismiss='modal') Close
