
.container
	div.form-wrapper.center-block
		h1.text-center sign up
		form(name='signupForm', novalidate, ng-submit='UsersCtrl.signUp(signupForm.$valid)')
			.form-group
				label(for='login') E-mail
				input.form-control(type='email', name='login', placeholder='yourname@domain.com', ng-model='UsersCtrl.signupData.email', required)
			.form-group
				label(for='password') Password
				input.form-control(type='password', name='password', ng-model='UsersCtrl.signupData.password', required)
			.form-group
				label(for='password') Password confirmation
				input.form-control(type='password', name='password_confirm', ng-model='UsersCtrl.signupData.password_confirm', required)
			p Already have an account? please &nbsp;
				a(ui-sref='signin') sign in
			button.btn.btn-primary.center-block(type='submit') Sign up
