
.container
	div.form-wrapper.center-block
		h1.text-center sign in
		form(name='signinForm', novalidate, ng-submit='UsersCtrl.signIn()')
			.form-group
				label(for='login') E-mail
				input.form-control(type='email', name='login', placeholder='yourname@domain.com', ng-model='UsersCtrl.signinData.email')
			.form-group
				label(for='password') Password
				input.form-control(type='password', name='password', ng-model='UsersCtrl.signinData.password')
			p Don't have an account? Please &nbsp;
				a(ui-sref='signup') sign up
			button.btn.btn-primary.center-block(type='submit') Sign in
